body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
p {
 color: #8f8f8f;
}
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
    background-color: #fff;
}
.spacing{
  padding: 7% 15%;
}

.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.iphone {
  transform: rotate(25deg);
  width: 23%;
  position: absolute;
  right: 20%;
}

@media (max-width:1030px) {

  .iphone {
    width: 80%;
    transform: rotate(0deg);
    position: static;
  }
}

#features {
  position: relative;
  padding: 5% 15%;
}

.features-fluid i {
  color: #cf8172;
  margin-bottom: 1rem;
}

.features-fluid h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.features-fluid p {
  padding: 5%;
}

.features-fluid .fa-solid:hover {
  color: #ff4c68;
}

#testimonials .carousel-item {
  padding: 5% 15%;
  background-color: #cf8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #cf8172;
  padding: 0 15%;
}

#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

#cta h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
#footer i {
  padding: 1%;
}
